@main("Lichess activity") {

<h1>
  <a href="http://lichess.org">
    lichess<span class="extension">.org</span>
  </a>
  activity
</h1>

<div id="worldmap"></div>

<div id="stats">
  <div class="wrapL">
    <div id="time">time: <span></span></div>
    <div id="moves">moves: <span></span></div>
    <div id="countries">countries: <span></span></div>
  </div>
  <div class="wrapL">
    <div id="topCountries"></div>
  </div>
  <div class="clear"></div>
  <div>
    <a href="https://github.com/veloce/chessmap" target="_blank">
      source code
    </a>
  </div>
</div>

}
